<div id="wrapper">
  <div class="chartTitle">Gaps in the Minneapolis park system</div>
  <div class="chatter">The Trust for Public Land determines where parks are most needed in cities across the country by analyzing where residents live, with additional consideration given to areas with more youth and low-income populations. The map below shows where they have identified park gaps in Minneapolis. The map excludes park need in non-residential areas like industrial and cemetery zones.</div>

  <div id="map">
    <div id="map-legend">
      <div id="legend-items">
      <div class="candidate"><span class="label-industrial"></span>Non-park zone</div>
      <div class="candidate"><span class="label-park"></span>Existing park</div>
      <!-- <div class="label">Park gaps</div> -->
      <div class="candidate"><span class="label-need1"></span>Moderate park need</div>
      <div class="candidate"><span class="label-need2"></span>High park need</div>
      <div class="candidate"><span class="label-need3"></span>Very high park need</div>
      <!-- <div class="label">Other zones</div> -->
      <!-- <div class="candidate"><span class="label-cemetery"></span>Cemetery zone</div>
      <div class="candidate"><span class="label-university"></span>University zone</div> -->
    </div>
    </div>
  </div>
<div class="byline">
    <div>Map: Jeff Hargarten, Star Tribune • Source: City of Minneapolis</div>
    <div>This map was produced using data provided by The Trust for Public Land’s ParkScore® database.</div>
</div>
</div>